<p>Created in just over 6 hours for the <a href="https://itch.io/jam/6-hour-jam-spooky-jam-2021">#6hourspookyjam 2021</a> <br>
hosted by <a href="http://louisvillemakesgames.org">Louisville Makes Games</a></p>
<h3>Game Design and programming by:<br>
Alex Bezuska and Eric Lathrop</h3>
<h4> To the highest bidder go the spoils!</h4>
<p>What happens to the chest in town where over-encumbered adventurers store their gear, potions, and other valuables in when they never return from their quest? The local shopkeeper auctions them off to the highest bidder! This is your chance to nab illustrious spoils from far off lands without ever risking your neck – but you aren't the only opportunistic knave in town! Alongside three other eager bidders you must bet your gold wisely based on only a glance into the chest and the weight of the items combined. Winning the auction could still mean defeat if you bid too high, but get your wager just right and your loot can be sold to fund even greater acquisitions!</p>
<p>(Check out our other games here: <a href="http://twoscoopgames.com" target="_blank">Two Scoop Games</a>)</p>
<h4>Models</h4>
<ul>
<li><a href="https://assetstore.unity.com/packages/3d/environments/fantasy/low-poly-fantasy-medieval-village-163701" target="_blank">Low Poly Fantasy Medieval Village by JustCreate</a></li>
<li><a href="https://assetstore.unity.com/packages/3d/environments/fantasy/animated-fantasy-polygon-chest-165262" target="_blank">Animated Fantasy Polygon Chest by David Aldy 3D</a></li>
<li><a href="https://assetstore.unity.com/packages/vfx/shaders/definitive-stylized-water-87062" target="_blank">Definitive Stylized Water by Marc Sureda</a></li>
<li><a href="https://opengameart.org/content/low-poly-swords-asset" target="_blank">Low Poly Swords by Catalin Pavel</a></li>
<li><a href="https://opengameart.org/content/low-poly-key" target="_blank">Low poly key by yd</a></li>
</ul>
<h4>Music</h4>
<ul>
<li><a href="https://opengameart.org/content/battle-theme-a" target="_blank">Battle Theme A by cynicmusic</a></li>
<li><a href="https://opengameart.org/content/town-theme-rpg" target="_blank">Town Theme RPG by cynicmusic</a></li>
<li><a href="https://freesound.org/people/olver/sounds/513485/" target="_blank">funny-fanfare-1 by olver</a></li>
<li><a href="https://freesound.org/people/bevibeldesign/sounds/350428/" target="_blank">trumpet-fanfare by bevibeldesign</a></li>
</ul>
<h4>Sounds</h4>
<ul>
<li><a href="https://freesound.org/people/ludvique/sounds/71853/" target="_blank">record-scratch by ludvique</a></li>
<li><a href="https://freesound.org/people/spookymodem/sounds/202092/" target="_blank">chest opening by spookymodem</a></li>
<li><a href="https://freesound.org/people/Audeption/sounds/418525/" target="_blank"> fasching fanfare - Karnevals Tusch [Tataa] (short) by Audeption</a></li>
<li><a href="https://freesound.org/people/NikPlaymostories/sounds/563850/" target="_blank"> Fail (Trombone wah, wah, wah…) - Sound Effect by NikPlaymostories</a></li>
<li><a href="https://freesound.org/people/FunWithSound/sounds/456966/" target="_blank"> Success Fanfare Trumpets by FunWithSound</a></li>
https://freesound.org/people/altfuture/sounds/174629/
https://freesound.org/people/Zott820/sounds/209578/
https://freesound.org/people/slowscope/sounds/158699/
</ul>
